fastapi
uvicorn
python-dotenv
passlib[bcrypt]
bcrypt
pyjwt
python-multipart
requests
pypdf
sentence-transformers
langchain
langchain-core
langchain-text-splitters
langchain-openai
groq
portkey-ai
huggingface-hub
langsmith
psycopg2-binary
sqlalchemy
pgvector
argon2-cffi
email-validator